//Copyright (C)2014-2020 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.7 Beta
//Part Number: GW1N-LV1QN48C6/I5
//Device: GW1N-1
//Created Time: Thu 10 22 16:02:03 2020

IO_LOC "fpga_tx" 8;
IO_PORT "fpga_tx" PULL_MODE=UP DRIVE=8;
IO_LOC "gpio[2]" 17;
IO_PORT "gpio[2]" PULL_MODE=UP DRIVE=8;
IO_LOC "gpio[1]" 16;
IO_PORT "gpio[1]" PULL_MODE=UP DRIVE=8;
IO_LOC "gpio[0]" 18;
IO_PORT "gpio[0]" PULL_MODE=UP DRIVE=8;
IO_LOC "fpga_rx" 9;
IO_PORT "fpga_rx" PULL_MODE=UP;
IO_LOC "reset" 15;
IO_PORT "reset" PULL_MODE=UP;
